h1{
    color: #086c91;
}

header, section{
    width: 30%;
    margin-bottom: 20px;
    margin-top: 20px;
}

.btn-1 {
    display: inline-block;
    background-color: chartreuse;
    padding: 30px 30px;
    border-radius: 70%;
    float: right;
}

.cuadrado{

    display: block;
    background-color: rgb(66, 94, 70);
    padding: 9px 1px;
    border: 2px;
}

form{
    column-count: 2;
}

canvas{
    border: 1px solid black;
    width: 300px;
    height: 200px;
}